
<%= form_for @user, url: users_path(@user)  do |f| %>
<p>
  <strong>Enter First Name:</strong>
  <%= @user.first_name %>
</p>
 
<p>
  <strong>Enter Last Name:</strong>
  <%= @user.last_name %>
</p>


  <p>
    <%= f.submit "Add Friend"%>
  </p>

<% end %>

<%= form_tag('/add_as_friend') do %>
 	
 	<%= hidden_field(:f_id, :data, :value => @user.id) %>
    <%= submit_tag "Add Friend updated"%>


<% end %>

